/* Common style or utility styles */
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}
/* header Styles */

.container{
    display: flex;
    margin-left: 10px;
    background-color: black;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    margin-bottom: 130px;
}
/* header Details  */
.header-details{
    width: 531px;
    height: 424px;
    color: #ffffff;
    margin: 80px  24px 111px 106px ;
}
h1{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 70px;
}
#header-text{
    font-size: 16px;
}
/* header Button style */
.header-button{
    background-color: red;
    border-radius: 5px;
    width: 187px;
    height:56px;
    padding: 16px 25px;
    font-weight: 400;
    font-size: 20px;
    color:#ffffff;

    transition: width 2s linear;
}
 /* header button animation */
.header-button:hover{
     width :250px;
}
 /* header button icon style */
.fa-angle-right{
    width: 24px;
    height: 24px;
}
.header-image img{
    width: 581px;
    height: 613px;
    margin: 33px 79px 0px 0px;
}

/* ---------Aside Buttons------- */

.aside-container{
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    position:absolute;
} 
 .side-button{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
   }
.side-button a{
    
    /* display: flex;
    justify-items:center ; */
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    margin: 05px 30px 30px 30px;
    
}
#upcoming-game:hover{
   background-color: red;
   color: white;
}
#all-group:hover{
    background-color: red;
    color: white;
}
#blog-button{
    background-color: red;
    color:#ffffff;
}
/* Blogs styles  */
.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-left: 350px;
    margin-bottom: 50px;
}

.blogs{
    width: 312px;
    height: 392px;
}
.blog-image{
    width: 312px;
    height: 175px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
}
.blog-details h2{
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.blog-details a{
    text-decoration: none;
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    font-weight: 500;
    font-size: 14px;
    color: #161616;
    padding: 4px  16px 4px 17px ;
    margin-left: 20px;
}

.blogs-info{
    display: flex;
    justify-content: space-around;
}
/* Blogs icons stylesd */
.fa-clock{
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.fa-comment-dots{
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
#view{
    width:300px;
    border-radius: 10px;
    width: 252px;
    height: 64px;
    background-color: red;
    color: white;
    margin-left: 270px;
}
/* Footer Styles */
.footer{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 360px;
    background-color: #161616;
}
.footer h2{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-button a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px; 
    padding-left: 20px;    
}

/* Social Icons */
.social-icon{
    display: flex;
    justify-content: center;
    font-size: 40px;
   
}
.social-icon a{
    margin-left: 20px;
}
.fa-linkedin{
    color: #0072b1;
    
}
.fa-facebook-square{
    color: #4267B2;
}
.fa-instagram-square{
    color: #3f729b ;
}
.fa-twitter{
    color:#00acee;
}

/* ------------Media Query ------------*/
/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .container{
        flex-direction: column;
        height: auto;
        
    }
    .header-details{
        margin-left:10px;
        margin-right: 10px;
        
    } 
    .header-details p{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .aside-container{
        flex-direction: row;
        
        background: #FFFFFF;
        position: relative;
        
    }
    .side-button{
        grid-template-columns: repeat(3,1fr);
        
    }
    .side-button a{
        /* flex-direction: row; */
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 10px;
        border: 0.5px solid black;
        width: 150px;
        height: 64px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .blog-container{
        grid-template-columns: repeat(1 , 1fr);
        margin-left: 30px;
    }
    #view{
        display: none;
    }
    .footer{
        height: auto;
    }
    
   .footer-button {
    flex-direction: column;
   }  
}
/* Tab let Devices */
@media only screen and (min-width:689px) and (max-width:992px) {
    
    
    .aside-container{
        flex-direction: row;
       
        background: #FFFFFF;
        position: relative;
        
        
    }
    .side-button{
        grid-template-columns: repeat(3,1fr);
        
    }
    .side-button a{
        /* flex-direction: row; */
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 10px;
        border: 0.5px solid black;
        width: 250px;
        height: 64px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .blog-container{
        grid-template-columns: repeat(2 , 1fr);
        margin-left: 30px;
        
    }
}
/* Media query for large screen  */
@media  only screen and (min-width:993px) and (max-width:1500px) {
    #view{
        display: none;
    }
}
